<p id="notice"><%= notice %></p>

<h1>Listing Matches</h1>
<h3>Logged as: <%= @user.username %></h3>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.created_at %></td>
        <td><%= link_to 'Show', match %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', matches_path, method: :post %>
<%= link_to 'Select another player', users_path %>
