<p id="notice"><%= notice %></p>

<h1>Listing Matches</h1>
<h3>Logged as: <%= @user.username %></h3>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="matches_list">
    <% @matches.each do |match| %>
      <tr>
        <td><%= link_to 'Play this match', match, class: "btn btn-success" %></td>
        <td>Room created by: <%= match.user.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', matches_path, method: :post, class: "btn btn-primary" %>
<%= link_to 'Select another player', user_path(@user.id), class: "btn btn-default", method: :delete %>
