<p id="notice"><%= notice %></p>
<%= link_to 'Back', matches_path %>

<h3><%= @match.user.username %> VS <%= @match.opponent.try(:username) %></h3>

<div id="match"></div>

<canvas id="board" width="300" height="150"></canvas>


<%= javascript_tag do -%>
  initGame(<%= raw @board %>, <%= @match.owner?(@user.id) %>)
<% end -%>