<p id="notice"><%= notice %></p>
<%= link_to 'Back', matches_path %>

<h3><%= @match.user.username %> VS <%= @match.opponent.try(:username) %></h3>

<div id="game">
  <canvas id="board" width="0" height="0"></canvas>
  <div id="match_information">
    <span id="turn_of" data-turnid="<%= @match.turn %>">Turn of: <%= @match.turn_of %></span>
    </br>
    asdf
  </div>

  <div id="game_actions">
    <button type="button" class="btn btn-danger" onclick="resetBoard()">Reset</button>
    <button type="button" class="btn btn-success">Enviar</button>
  </div>
</div>


<%= javascript_tag do -%>
  initGame(<%= raw @board %>, <%= @match.owner?(@user.id) %>)
<% end -%>